<div class="signup_form">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>



  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="col-lg-12">
      <div class='form-group'>
        <%= f.email_field :email, placeholder: "E-mail", autofocus: true, class: "input-lg form-control" %>
      </div>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>


    <div class="col-lg-12">
      <div class='form-group'>
        <%= f.text_field :surname, placeholder: "Last Name", class: "input-lg form-control" %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class='form-group'>
        <%= f.text_field :firstname, placeholder: "First Name", class: "input-lg form-control"  %>
      </div>
    </div>

    <div class="col-lg-12">
      <div class='form-group'>
        <%= f.text_field :phone, placeholder: "Phone", class: "input-lg form-control" %>
      </div>
    </div>
    <hr>
    <div class="col-lg-12">
      <div class='form-group'><%= f.password_field :password, :placeholder => "Password", class: "input-lg form-control", autocomplete: "off" %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class='form-group'>
      <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", class: "input-lg form-control", autocomplete: "off" %>
      </div>
    </div>



    <div class="col-lg-12">
      <div class='form-group'><%= f.submit "Update", class: "btn btn-primary btn-lg" %></div>

  <% end %>

  <%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary btn-lg" %></div>

</div>