<h1>Listing user_rumours</h1>

<table>
  <thead>
    <tr>
      <th>Credible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_rumours.each do |user_rumour| %>
      <tr>
        <td><%= user_rumour.credible %></td>
        <td><%= link_to 'Show', user_rumour %></td>
        <td><%= link_to 'Edit', edit_user_rumour_path(user_rumour) %></td>
        <td><%= link_to 'Destroy', user_rumour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User rumour', new_user_rumour_path %>
