<div class="signup_form">
  <%= form_for(@rumour) do |f| %>
    <% if @rumour.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@rumour.errors.count, "error") %> prohibited this rumour from being saved:</h2>

        <ul>
        <% @rumour.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


      <div class="col-lg-12">
        <div class='form-group'>
          <%= f.text_field :title, placeholder: "Title", class: "input-lg form-control" %>
        </div>
      </div>
      <div class="col-lg-12">
        <div class='form-group'>
          <%= f.text_field :description, placeholder: "Description", class: "input-lg form-control"  %>
        </div>
      </div>

    <div id="rumour_lat" class="field">

      <%= f.hidden_field :latitude %>
    </div>
    <div id="rumour_lng" class="field">

      <%= f.hidden_field :longitude %>
    </div>
      <div class="col-lg-12">
        <div class='form-group'>
          <%= f.label "Upload an image" %><br>
          <%= f.file_field :media, class: "input-lg form-control" %>
        </div>
      </div>
      <!-- <input type="file" name="media" accept="image/*" capture="camera"> -->
      <div class="col-lg-12 rumor_submit">
        <div class='form-group'><%= f.submit "Submit", class: "btn btn-primary btn-lg" %></div>
      </div>

  <% end %>
</div>